doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Tetris
    link(rel='stylesheet', href='app.css')
  body
    h1 Tetris
    h3#lines 0
    canvas#tetris
    script(src='app.js')
